*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
header{
	background-color: #212121;
	box-sizing: border-box;
	height: 45px;
	border-top: 1px solid #aaaaab;
}
.logo {
	float: left;
	color: #f03d3d;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
	padding-top: 15px;
}
.logo span:first-child {
	color: #fff;
}
header ul.profile_menu {
	float: right;
	padding-right: 40px;
	margin: 0;
	li.nav_pills, .profile {
		float: right;
		margin: 0 10px 0 0;
	}
}
.nav_pills {
	width: 45px;
	height: 44px;
	background-repeat: no-repeat;
	background-position: center;
}
.notification {
	background-image: url(../img/notification.png);
}
.messege {
	background-image: url(../img/messege.png);
}
.pending_tasks {
	background-image: url(../img/pending_tasks.png);
}
.notification:hover, 
.messege:hover, 
.pending_tasks:hover,
li.profile:hover,
.current {
	background-color: #383838;
} 
li.profile {
	width: 150px;
	height: 44px;
	line-height: 4;
	color: #fff;
	font-size: 10px;
	img {
		padding: 5px;
		float: left;
	}
}
li.profile a, li.profile a:hover {
	color: #fff;
}

// MENU DROPDOWN


.profile_menu_drop {

	position: absolute;
	width: 160px;
	top: -100em;
	opacity: 0;
	border: 2px solid #e0dede;
	border-top: 5px solid #fff;
	margin: 0 0 0 -15px;

	transition: opacity 1s;
	li {
		background: #fff;
		padding: 0;
		margin: 0;
		color: #333;
		width: 100%;
		img {
			padding-top: 10px;
		}
	}
	li:hover {
		background: #ddd;
		margin: 0;
		padding: 0;
	}
}
.profile:hover .profile_menu_drop {
	opacity: 1;
	top: 45px;
}
.my_profile {
}
.my_calendar {

}
.my_inbox {

}
.my_tasks {

}